.media {
  text-align: left;
}
.media-body {
  text-align: left;
  padding-left: 15px;
}
.media-body h4,
.media-body p {
  text-align: left;
}
.media-left .media-object {
  width: 100%;
  height: 143px;
  padding-left: 0px;
}
.starter-template .form-inline {
  text-align: left;
  padding-left: 15px;
}
.w200 {
  text-align: center !important;
  margin: 0px auto;
}
.rating {
  margin: 0px auto;
  padding-top: 6px;
  padding-bottom: 6px;
}
.select2-selection__choice .tag {
  cursor: hand;
  background-color: #00b3ee;
}
table tr td {
  text-align: left;
}
.btn-info {
  color: green;
  font-weight: bold;
}
.btn-warning {
  color: red;
  font-weight: bold;
}

/*# sourceMappingURL=app.css.map */
