.media{
  text-align: left;
  //height: 113px;
 }
.media-body{
  text-align: left;
  padding-left: 15px;
  h4, p {text-align: left}
}

.media-left {
  .media-object {
    width: 100%;
    height: 143px;
    padding-left: 0px;
  }
}
.starter-template .form-inline{
  text-align: left;
  padding-left: 15px;
}

.starter-template .form-inline .input-group{

}
.w200{
   text-align: center !important;
  margin: 0px auto;
}
.rating{
  margin: 0px auto;
  padding-top: 6px;
  padding-bottom: 6px;
}

.select2-selection__choice .tag{
    cursor: hand;
    background-color: #00b3ee;
  }
table tr td {

  text-align: left;
}
.btn-info{
  color: green;
  font-weight: bold;
}
.btn-warning{
  color: red;
  font-weight: bold;
}